<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
    @* <partial name="HeaderPartial" /> *@
    <div class="container">
        <div class="row justify-content-center my-5 text-dark">
            <h1 class="display-3 font-weight-bold"><em>@@D@@G3</em></h1>
        </div>
        <div class="row">
            <div class="col bg-dark text-light rounded shadow-lg mx-3">
                <h2 class="my-3">Register</h2>
                <partial name="RegPartial" />
            </div>
            <div class="col bg-dark text-light rounded shadow-lg mx-3">
                <h2 class="my-3">Login</h2>
                <partial name="LogPartial" />
            </div>
        </div>
    </div>
</body>
</html>