@model Comment
<div class="form-group row offset-md-1">
    <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="Body"></span>
    <label asp-for="Body" class="col-sm-4"></label>
    <textarea asp-for="Body" class="col-sm-8 form-control"></textarea>
</div>
<div class="form-group row offset-md-1">
    <input type="submit" value="Post a comment" class="col-sm-4 offset-sm-4 btn btn-primary">
</div>
